/* General */
*{
  margin:0;
  box-sizing: border-box;
}
body{
  background-color:#fff;
  height:4000px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.services{
  padding:75px 0px;
}

.third{
  width:30%;
  margin-right:3%;
  float:left;
}

.size-container{
    text-align:center;
    overflow:hidden;

    width:75%;
    margin:0 auto;
}

/* Start Header Container*/
.header-container .header{
    background-color:#000;
}

.header-container .header .site-map{
    color:#777;
    overflow:hidden;
    float:left;
}

.header-container .header .site-map ul{
    list-style: none;
    float:left;
    overflow:hidden;
    padding-left:0px;
}

.header-container .header .site-map ul li{
    float:left;
    padding:10px 15px;
    text-transform:uppercase;
    border-left:.5px solid #444;
    font-size:10px;
}

.header-container .header .site-map ul li:first-of-type{
    border:none;
    color:#C84F4F;
    font-size: 15px;
    padding-left:0px;
}


.header-container .header .contact{
    overflow:hidden;
    float:right;
    color: #999;
    padding-left:0px;
}

.header-container .header .contact ul{
    list-style: none;
    padding-left:0px;
}

.header-container .header .contact ul li{
    float:left;
    font-size:12px;
    margin:5px;
    padding:0 20px;
    border-left:.5px solid #666;
}

.header-container .header .contact ul li:first-of-type{
    border:none;
    padding-left:0px;
}




.header-container .header-background{
    background-color:#1a1a1a;
}



.header-container nav{
    color:#ccc;
    border-bottom:2px solid #555;
    overflow:hidden;
}

.header-container nav span{
    float:left;
    font-size:20px;
    margin:35px;
    margin-left:0px;
}


.header-container nav ul{
    float:right;
    list-style:none;
}

.header-container nav ul li{
    float:left;
    margin:35px 10px;
    text-transform:uppercase;
}



.header-container section{
    text-align:center;
}


.header-container section ul{
    overflow:hidden;
    margin-top:180px;
}

.header-container section ul li{
    text-align: center;
    display:inline-block;
    color:#666;
    border:1px solid #666;
    padding-top:24px;
    margin:10px;
    width:100px;
    height:100px;
}

.header-container section h1{
    color:#ddd;
    font-size:50px;
    margin:50px;
    margin-bottom:20px;
}

.header-container section p{
    color:#ddd;
    width:700px;
    margin: auto;
    margin-bottom:40px;
}

.header-container section button{
    background:none;
    border:none;
    background-color:#C84F4F;
    color:#eee;
    padding:20px;
    margin-bottom:100px;
}




.services{
  overflow: hidden;
  color:white;
}

.services .service{
  background-color:#C84F4F;
  height:120px;
  overflow: hidden;
}

.services .service:nth-of-type(2){
  color:#C84F4F;
  background-color:white;
  border:2px solid #C84F4F;
}

.services .service i{
  font-size:40px;
  float:left;
  padding:20px;
  width:30%;
}

.services .service .info{
  float:left;
  width:70%;
  text-align:left;
  margin-top:30px;
}

.services .service .info p:first-of-type{margin-bottom:10px;}

.services .service .info p:last-of-type{

}
